.profile__container {
  align-content: center;
  text-align: center;
}

.profile__inout__table{
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

 .profile__form__label {
  width: 50%;
}

.profile__form__input{
  text-align: left;
}

.profile__form__static {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}


td {
  text-align: right;
}

.asterisk {
  text-align: left;
}

.profile__user__right {
  text-align: left;
}

.profile__user__left {
  width: 50%;
}


