a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
  background: #a2584720;
}

div {
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 0.25rem;

  background: #252a30;
}

.navbar p {
  color: #d79643;
  display: flex;
}
h1 {
  text-align: center;
  margin: 0px;
  padding: 0.25rem;

  font-size: 3rem;
  color: #f3f4f4;
  text-decoration: none;
}

.container {
  display: flex;
  align-content: space-between;
}
.item {
  max-width: 200px;
}

.profile {
  display: flex;
  max-height: 5.1em;
}

.profile__container {
  margin: auto;
}

.profile__image {
  object-fit: scale-down;
}
.profile__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__username,
.profile__updateProfile,
.profile__updateProfile,
.logout__button {
  margin: 0.25em 0.25em;
}

.profile__username {
  font-size: 1em;
}
.matches__match__li__games {
  border: 2px #d79643 solid;
  margin: 20px;
  background: #a2584720;
}

.matches__match__li__games ul {
  padding: 0;
}

.matches__match__li {
  background-color: #f3f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d79643' fill-opacity='0.21'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  list-style: none;
  border: 1px black solid;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.matches__match__li__games__game {
  list-style: none;
}

.matches__match__li a {
  background-color: white;
  border: 1px black solid;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: small;
}

.matches__match__li a:clicked {
  color: black;
}

button {
  background-color: white;
  border: 1px black solid;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

button:hover {
  cursor: pointer;
}

.profile__img {
  width: 20vw;
  margin: auto;
}

.homepage__main {
  text-align: center;
}

.category__slug,
.category__slug__p {
  text-transform: capitalize;
}



button:disabled {
  background-color: darkgrey;
  color: grey;
  cursor: unset;
}

.sessionsList {
  text-align: center;
}

.sessionsList__sessionCard__li {
  background-color: #f3f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d79643' fill-opacity='0.21'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  list-style: none;
  border: 1px black solid;
  padding: 20px;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.sessionsList__sessionCard__li_Link {
  color: black;
}

.sessionsList__sessionCard {
  padding-left: 0px;
  text-decoration: none;
}

.session__link__button {
  background-color: white;
  border: 1px black solid;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: small;
}

.message__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d79643' fill-opacity='0.21'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  padding-left: 0;
  padding: 20px;
  border: 1px black solid;
  height: 60vh;
  overflow-y: scroll;
}

.left__user {
  position: relative;
  background: linear-gradient(0deg, #ddb585 0%, #ffe4c4 100%);
  color: #171515;
  font-size: 15px;
  line-height: 20px;
  filter: drop-shadow(5px 5px 2px #a3a3a3);
  text-align: left;
  width: 60vw;
  max-width: fit-content;
  height: auto;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}
.left__user:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #ddb585 transparent transparent;
  top: 50%;
  left: -20px;
  margin-top: -10px;
}

.right__user {
  position: relative;
  background: linear-gradient(0deg, #858add 0%, #c4fffb 100%);
  color: #171515;
  font-size: 15px;
  line-height: 20px;
  filter: drop-shadow(5px 5px 2px #a3a3a3);
  text-align: right;
  width: 60vw;
  max-width: fit-content;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  align-self: flex-end;
  margin-right: 15px;
}
.right__user:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #8589dd transparent transparent transparent;
  top: 50%;
  right: -20px;
  margin-top: -10px;
}

.message__form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.message__text__area {
  resize: none;
}

.message__submit__button {
  margin-left: 10px;
  justify-content: center;
  align-self: center;
  height: auto;
}
