a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  margin: 0px;
  background: #d79643;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
  background: #a2584720;
}

div {
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 0.25rem;

  background: #252a30;
}

.navbar p {
  color: #d79643;
  display: flex;
}
h1 {
  text-align: center;
  margin: 0px;
  padding: 0.25rem;

  font-size: 3rem;
  color: #f3f4f4;
  text-decoration: none;
}

.container {
  display: flex;
  align-content: space-between;
}
.item {
  max-width: 200px;
}

.profile {
  display: flex;
}

.profile__image {
  block-size: 5em;
  object-fit: contain;
}
.profile__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__username,
.profile__updateProfile,
.profile__updateProfile,
.logout__button {
  margin: 0.25em 0.25em;
}

.profile__username {
  font-size: 1em;
}
